@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:ital,wght@1,300&family=Oswald:wght@300;500;700&family=Roboto:wght@400;500;700&display=swap');
:root {
    --primary-colour: #047aed;
    --secondary-colour: #1c3fa8;
    --dark-colour: #002240;
    --light-colour: #f4f4f4;
    --success-colour:#5cb85c;
    --error-colour:#d9534f;
    --light-green:#97c680;

}

body {
    background-color:var(--dark-colour);
    color: var(--light-colour);
    font-family: 'Archivo Black';
    padding: 0px 100px 0px 100px;
    margin: 0;
}

section {
    display: grid;
    place-content: center;
    align-content: center;
    min-height: 90vh;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.Hidden {
    opacity: 0;
    transition: all 4s;
}

.show {
    opacity: 1;
}

.center {
    justify-content: center;
    justify-items: center;
}

.center-text {
    text-align: center;
}

::placeholder {
    color: grey;
}

h1 {
    font-size: 75px;
    letter-spacing: 0.7rem;
}

h3 {
    font-size: 18px;
}

p {
    font-size: 12px;
}



/*Navbar*/
.logo {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo span {
    color: white;
}

.Navbar {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr;
    
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 10px;

}

.Header a {
    justify-items: center;
    letter-spacing: 3px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu li{
    font-size: 16px;
    padding: 15px 15px;
}

.navbar-list  {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10px;
    margin-right: 10px;
}

/*Hover Line Efect*/
.underline-HE {
    color: white;
    position: relative; 
    text-decoration: none;
    font-size: 20px;
    display: block;
}
  
.underline-HE::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--light-green);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.underline-HE:hover::before {
   transform-origin: left;
   transform: scaleX(1);
}

/*Color hover*/
.color-change-green:hover {
    color: var(--light-green);
    transition: 0.3s;
    cursor: pointer;
}

/*Nav buttons*/
.nav-button {
    display: inline-block;
    padding: 14px 30px;
    margin: 10px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 20px;
    letter-spacing: 0.2rem;
    transition-delay: 0.1s;
}

.nav-button:hover {
    background: var(--light-green);
}

.nav-LoginTrail {
    justify-content: right;
    display:flex;
}


.toggle {
    order: 1;
}

.item.nav-button {
    order: 2;
}

.item{
    width: 100%;
    text-align: center;
    order:3;

    /**/
}

.item.active {
    display:block;
}



/*Hero/.Intro*/
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.go {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.go input {
    padding: 40px 8px 40px 8px;
    font-size: 25px;
}

.go button {
    background-color: var(--light-green);
    border: none;
    font-size: 36px;
    color: white;
    cursor: pointer;
}

/*Hero-2-image*/

.right-hero {
    display: flex;
    width: 100%;
    padding: 2% 1%;
    box-sizing: border-box;
    height: 85vh;
}

.hero-image {
    flex: 1;
    overflow: hidden;
    transition: 0.5s;
    margin: 0 2%;
    line-height: 0;
    
}

.hero-image img {
    border-radius: 10px;
}

.hero-image > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.hero-image:hover {
    flex: 1 1 70%;
}

.hero-image:hover > img {
    width: 100%;
    height: 100%;
}


/*Product*/



.product-list ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}


.product-list li {
    cursor: pointer;
}
.product-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.product-item {
    position:relative;
    overflow:hidden;
    height: 100%;
    
}

.product-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: 25ms ease-in-out;
}

.background-wrapper:hover {
    transform: translateY(0.5rem) translateX(0.5rem);
    transition: 25ms ease-in-out;

}

.fellow {
    bottom: -1rem;
    radius:(100%);
    padding: 1rem;
    font-size: 1.5rem;
    z-index: 1;
    transform: skew(10deg) translateY(10%);
    text-align: center;
    transition: 0.5s;
    
}

.background-wrapper {
    opacity: 0.7;
}
 
.background-wrapper:hover {
    opacity: 1;
}


.
/**/
/**/
/**/
/**/
/**/
/**/
/**/




















/*Media Queries*/
@media screen and (max-with: 600px) {
    .Navbar a:not(:first-child) {display: none;}
    .Navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .Navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .Navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media all and (min-width:460px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    .item.nav-button{
        width: auto;
        order: 1;
        display: block;
    }

    .toggle {
        order: 2;
    }

    .nav-button.secondary {
        order: 0;
    }

    .nav-button a {
        background-color: #002240;
    }

    .nav-button.secondary a {
        background-color: transparent;
    }

    .nav-button {
        display: none;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr;
    }

    

}

@media all and (min-width: 720px) {
    .item {
        width: auto;
    }

    .toggle {
        display: none;
    }

    .logo {
        order: 0;
    }

    .item {
        order: 1;
    }

    .nav-button {
        order: 2;
        display: inline-block;
    }

    menu li {
        padding: 15px 10px;
    }

    .menu li.nav-button {
        padding-right: 0;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}